.tutorial {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .tutorial .div {
    background-color: #ffffff;
    width: 375px;
    height: 812px;
    position: relative;
  }
  
  .tutorial .calendar-month {
    position: absolute;
    width: 169px;
    height: 51px;
    top: 125px;
    left: 106px;
  }
  
  .tutorial .month_group {
    position: absolute;
    width: 83px;
    height: 51px;
    top: 0;
    left: 42px;
  }
  
  .tutorial .calendar {
    display: flex;
    width: 83.12px;
    height: 25.1px;
    align-items: center;
    justify-content: center;
    padding: 2px 8px;
    position: relative;
    top: 26px;
    left: 0;
    background-color: #000000;
    border-radius: 4px;
  }
  
  .tutorial .text {
    position: relative;
    width: fit-content;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 17px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .tutorial .year_text {
    position: absolute;
    width: 59px;
    height: 27px;
    top: 0;
    left: 11px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .tutorial .left_vector {
    position: absolute;
    width: 13.06px;
    height: 14.83px;
    top: 32px;
    left: 0px;
  }
  
  .tutorial .right_vector {
    position: absolute;
    width: 13.06px;
    height: 14.83px;
    top: 32px;
    right: 0;
  }
  
  .tutorial .view {
    position: absolute;
    width: 278px;
    height: 87px;
    top: 650px;
    left: 49px;
  }
  
  .tutorial .overlap {
    position: relative;
    width: 276px;
    height: 87px;
    background-color: #d9d9d9;
    border-radius: 20px;
  }
  
  .tutorial .overlap-2 {
    position: absolute;
    width: 225px;
    height: 52px;
    top: 29px;
    left: 27px;
  }
  
  .tutorial .sentiment {
    position: absolute;
    width: 222px;
    height: 36px;
    top: 0;
    left: 0;
  }
  
  .tutorial .sentiment_1 {
    position: absolute;
    width: 31px;
    height: 36px;
    top: 0;
    left: 0;
  }

  .tutorial .sentiment_group {
    position: absolute;
    width: 31px;
    height: 37px;
    top: -2px;
  }

  
  .tutorial .sentiment_2 {
    position: absolute;
    width: 31px;
    height: 37px;
    top: 0;
    left: 48px;
  }
  
  
  .tutorial .sentiment_3 {
    position: absolute;
    width: 31px;
    height: 37px;
    top: 0;
    left: 96px;
  }
  
  .tutorial .sentiment_4 {
    position: absolute;
    width: 30px;
    height: 37px;
    top: 0;
    left: 144px;
  }
  
  .tutorial .sentiment_5 {
    position: absolute;
    width: 31px;
    height: 37px;
    top: 0;
    left: 191px;
  }

  .tutorial .count_text_1 {
    width: 18px;
    height: 16px;
    top: 36px;
    left: 2.5px;
    position: absolute;
    font-family: "Lato-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 10px;
    text-align: center;
    letter-spacing: 0;
    line-height: 12.5px;
  }
  
  .tutorial .count_text_2 {
    width: 18px;
    height: 16px;
    top: 36px;
    left: 50.5px;
    position: absolute;
    font-family: "Lato-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 10px;
    text-align: center;
    letter-spacing: 0;
    line-height: 12.5px;
  }
  
  .tutorial .count_text_3 {
    width: 18px;
    height: 16px;
    top: 36px;
    left: 98.5px;
    position: absolute;
    font-family: "Lato-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 10px;
    text-align: center;
    letter-spacing: 0;
    line-height: 12.5px;
  }
  
  .tutorial .count_text_4 {
    width: 18px;
    height: 16px;
    top: 36px;
    left: 146.5px;
    position: absolute;
    font-family: "Lato-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 10px;
    text-align: center;
    letter-spacing: 0;
    line-height: 12.5px;
  }
  
  .tutorial .count_text_5 {
    width: 18px;
    height: 16px;
    top: 36px;
    left: 194.5px;
    position: absolute;
    font-family: "Lato-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 10px;
    text-align: center;
    letter-spacing: 0;
    line-height: 12.5px;
  }
  
  .tutorial .text-wrapper-7 {
    position: absolute;
    width: 75px;
    height: 13px;
    top: 7px;
    left: 102px;
    font-family: "Manrope-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 11px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .tutorial .music {
    position: absolute;
    width: 74px;
    height: 69px;
    top: 43px;
    left: 150px;
  }
  
  .tutorial .calendar-week {
    position: absolute;
    width: 361px;
    height: 28px;
    top: 197px;
    left: 6px;
  }
  
  .tutorial .days-of-week {
    display: flex;
    width: 361px;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 4px;
    position: relative;
    background-color: #ffffff;
  }
  
  .tutorial .div-wrapper-2 {
    position: relative;
    flex: 1;
    flex-grow: 1;
    height: 24px;
    background-color: #ffffff;
  }
  
  .tutorial .text-wrapper-8 {
    position: absolute;
    height: 15px;
    top: 3px;
    left: 16px;
    opacity: 0.5;
    font-family: "Lato-Regular", Helvetica;
    font-weight: 400;
    color: var(--black);
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: 15px;
    white-space: nowrap;
  }
  
  .tutorial .sun {
    position: absolute;
    height: 15px;
    top: 3px;
    left: 17px;
    opacity: 0.5;
    font-family: "Lato-Regular", Helvetica;
    font-weight: 400;
    color: var(--black);
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: 15px;
    white-space: nowrap;
  }
  
  .tutorial .sun-2 {
    position: absolute;
    height: 15px;
    top: 3px;
    left: 19px;
    opacity: 0.5;
    font-family: "Lato-Regular", Helvetica;
    font-weight: 400;
    color: var(--black);
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: 15px;
    white-space: nowrap;
  }
  
  .tutorial .sun-3 {
    position: absolute;
    height: 15px;
    top: 3px;
    left: 18px;
    opacity: 0.5;
    font-family: "Lato-Regular", Helvetica;
    font-weight: 400;
    color: var(--black);
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: 15px;
    white-space: nowrap;
  }
  
  .tutorial .calendar-date {
    position: absolute;
    width: 359px;
    height: 388px;
    top: 225px;
    left: 8px;
  }
  
  .tutorial .sun-4 {
    position: absolute;
    width: 47px;
    height: 388px;
    top: 0;
    left: 0;
  }
  
  .tutorial .group-10 {
    position: absolute;
    width: 49px;
    height: 72px;
    top: 79px;
    left: 0;
  }
  
  .tutorial .overlap-group-3 {
    position: relative;
    width: 47px;
    height: 72px;
  }
  
  .tutorial .rectangle {
    position: absolute;
    width: 47px;
    height: 72px;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
    transform: rotate(180deg);
  }
  
  .tutorial .text-wrapper-9 {
    position: absolute;
    width: 17px;
    height: 11px;
    top: 3px;
    left: 15px;
    font-family: "Lato-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 10px;
    text-align: center;
    letter-spacing: 0;
    line-height: 12.5px;
    white-space: nowrap;
  }
  
  .tutorial .group-11 {
    position: absolute;
    width: 49px;
    height: 72px;
    top: 0;
    left: 0;
  }
  
  .tutorial .group-12 {
    position: absolute;
    width: 49px;
    height: 72px;
    top: 237px;
    left: 0;
  }
  
  .tutorial .text-wrapper-10 {
    width: 17px;
    height: 11px;
    top: 3px;
    left: 14px;
    white-space: nowrap;
    position: absolute;
    font-family: "Lato-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 10px;
    text-align: center;
    letter-spacing: 0;
    line-height: 12.5px;
  }
  
  .tutorial .group-13 {
    position: absolute;
    width: 49px;
    height: 72px;
    top: 316px;
    left: 0;
  }
  
  .tutorial .group-14 {
    position: absolute;
    width: 49px;
    height: 72px;
    top: 158px;
    left: 0;
  }
  
  .tutorial .mon {
    position: absolute;
    width: 47px;
    height: 388px;
    top: 0;
    left: 52px;
  }
  
  .tutorial .mon-2 {
    position: absolute;
    width: 47px;
    height: 388px;
    top: 0;
    left: 104px;
  }
  
  .tutorial .wed {
    position: absolute;
    width: 47px;
    height: 388px;
    top: 0;
    left: 156px;
  }
  
  .tutorial .thu {
    position: absolute;
    width: 47px;
    height: 388px;
    top: 0;
    left: 208px;
  }
  
  .tutorial .fri {
    position: absolute;
    width: 47px;
    height: 388px;
    top: 0;
    left: 260px;
  }
  
  .tutorial .sat {
    position: absolute;
    width: 47px;
    height: 388px;
    top: 0;
    left: 312px;
  }

  .tutorial .view-2{
    position: absolute;
    width: 247px;
    height: 69px;
    top: 98px;
    left: 118px;
  }

  .tutorial .overlap-4 {
    position: relative;
    width: 243px;
    height: 69px;
  }

  .tutorial .rectangle-3 {
    position: absolute;
    width: 241px;
    height: 53px;
    top: 0;
    left: 0;
    background-color: #ffd8e4;
    border-radius: 7px;
  }
  

  .tutorial .polygon {
    position: absolute;
    width: 11px;
    height: 12px;
    top: 49px;
    left: 16px;
  }

  .tutorial .p {
    position: absolute;
    width: 235px;
    height: 69px;
    top: 0;
    left: 8px;
    font-family: "Manrope-Bold", Helvetica;
    font-weight: 700;
    color: #3e3939;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  tutorial .text-wrapper-12 {
    position: absolute;
    width: 26px;
    height: 21px;
    top: 5px;
    left: 8px;
    font-family: "Manrope-Bold", Helvetica;
    font-weight: 700;
    color: #5f5f5f;
    font-size: 10px;
    letter-spacing: 0.70px;
    line-height: 14px;
  }

  .tutorial .arrow-right-circle {
    position: absolute;
    width: 33px;
    height: 33px;
    top: 141px;
    left: 312px;
  }

  .tutorial .rectangle-4 {
    position: absolute;
    width: 355px;
    height: 21px;
    top: 41px;
    left: 454px;
    background-color: var(--fuschia-60);
  }

  .tutorial .text-wrapper-11 {
    position: absolute;
    width: 58px;
    height: 44px;
    top: 7px;
    left: 9px;
    font-family: "Manrope-Bold", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 13px;
    letter-spacing: 0;
    line-height: normal;
  }