.tutorial_2 {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .tutorial_2 .div {
    background-color: #f2f2f2;
    overflow: hidden;
    width: 375px;
    height: 812px;
    position: relative;
  }
  
  .tutorial_2 .view {
    position: absolute;
    width: 335px;
    height: 184px;
    top: 106%;
    left: 0;
  }
  
  .tutorial_2 .overlap {
    position: absolute;
    width: 331px;
    height: 186px;
    top: 47px;
    left: 2px;
    background-color: #ffffff;
    border-radius: 7px;
  }
  
  .tutorial_2 .text-wrapper {
    position: absolute;
    width: 236px;
    height: 71px;
    top: 34px;
    left: 47px;
    font-family: "Manrope-Medium", Helvetica;
    font-weight: 500;
    color: #3e3939;
    font-size: 22px;
    text-align: center;
    letter-spacing: 2.86px;
    line-height: normal;
  }
  
  .tutorial_2 .overlap-group-wrapper {
    position: absolute;
    width: 95px;
    height: 37px;
    top: 0;
    left: 0;
  }
  
  .tutorial_2 .overlap-group {
    position: relative;
    width: 93px;
    height: 37px;
    background-color: #333333;
    border-radius: 16px;
  }
  
  .tutorial_2 .text-wrapper-2 {
    position: absolute;
    width: 80px;
    height: 20px;
    top: 9px;
    left: 5px;
    font-family: "Manrope-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .tutorial_2 .overlap-2 {
    position: absolute;
    width: 373px;
    height: 51px;
    top: 42px;
    left: 2px;
  }
  
  .tutorial_2 .view-2 {
    position: absolute;
    width: 373px;
    height: 39px;
    top: 12px;
    left: 0;
  }
  
  .tutorial_2 .rectangle {
    width: 371px;
    height: 1px;
    top: 38px;
    background-color: #0000004c;
    opacity: 0.7;
    position: absolute;
    left: 0;
  }
  
  .tutorial_2 .text-wrapper-3 {
    position: absolute;
    width: 177px;
    top: 0;
    left: 101px;
    font-family: "Manrope-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.10px;
    line-height: 38.4px;
    white-space: nowrap;
  }
  
  .tutorial_2 .image {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 12px;
    left: 16px;
    object-fit: cover;
  }
  
  .tutorial_2 .overlap-wrapper {
    width: 357px;
    height: 21px;
    left: 8px;
    position: absolute;
    top: 0;
  }
  
  .tutorial_2 .div-wrapper {
    position: relative;
    width: 355px;
    height: 21px;
    background-color: var(--fuschia-60);
  }
  
  .tutorial_2 .text-wrapper-4 {
    width: 47px;
    height: 20px;
    left: 154px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 13px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .tutorial_2 .overlap-3 {
    position: absolute;
    width: 334px;
    height: 414px;
    top: 115px;
    left: 23px;
  }
  
  .tutorial_2 .view-3 {
    position: absolute;
    width: 332px;
    height: 183px;
    top: 0;
    left: 1px;
  }
  
  .tutorial_2 .overlap-4 {
    position: absolute;
    width: 332px;
    height: 138px;
    top: 45px;
    left: 0;
    background-color: #ffffff;
    border-radius: 7px;
  }
  
  .tutorial_2 .navbar {
    position: absolute;
    width: 312px;
    height: 9px;
    top: 100px;
    left: 14px;
  }
  
  .tutorial_2 .text-wrapper-5 {
    left: 68px;
    position: absolute;
    width: 37px;
    height: 9px;
    top: 0;
    font-family: "Manrope-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .tutorial_2 .text-wrapper-6 {
    left: 0;
    position: absolute;
    width: 37px;
    height: 9px;
    top: 0;
    font-family: "Manrope-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .tutorial_2 .text-wrapper-7 {
    left: 133px;
    position: absolute;
    width: 37px;
    height: 9px;
    top: 0;
    font-family: "Manrope-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .tutorial_2 .text-wrapper-8 {
    left: 200px;
    position: absolute;
    width: 37px;
    height: 9px;
    top: 0;
    font-family: "Manrope-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .tutorial_2 .text-wrapper-9 {
    left: 266px;
    position: absolute;
    width: 37px;
    height: 9px;
    top: 0;
    font-family: "Manrope-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .tutorial_2 .view-4 {
    position: absolute;
    width: 312px;
    height: 53px;
    top: 28px;
    left: 8px;
  }
  
  .tutorial_2 .img {
    position: absolute;
    width: 49px;
    height: 49px;
    top: 0;
    left: 0;
  }
  
  .tutorial_2 .image-2 {
    position: absolute;
    width: 49px;
    height: 49px;
    top: 3px;
    left: 65px;
  }
  
  .tutorial_2 .image-3 {
    position: absolute;
    width: 51px;
    height: 51px;
    top: 2px;
    left: 134px;
  }
  
  .tutorial_2 .image-4 {
    position: absolute;
    width: 49px;
    height: 49px;
    top: 0;
    left: 197px;
  }
  
  .tutorial_2 .image-5 {
    position: absolute;
    width: 49px;
    height: 49px;
    top: 0;
    left: 262px;
  }
  
  .tutorial_2 .overlap-group-wrapper-2 {
    position: absolute;
    width: 94px;
    height: 37px;
    top: 0;
    left: 0;
  }
  
  .tutorial_2 .overlap-group-2 {
    position: relative;
    width: 92px;
    height: 37px;
    background-color: #333333;
    border-radius: 16px;
  }
  
  .tutorial_2 .view-5 {
    position: absolute;
    width: 334px;
    height: 217px;
    top: 197px;
    left: 0;
  }
  
  .tutorial_2 .div-2 {
    position: absolute;
    width: 332px;
    height: 171px;
    top: 47px;
    left: 2px;
    background-color: #ffffff;
    border-radius: 7px;
  }
  
  .tutorial_2 .element {
    position: absolute;
    width: 292px;
    height: 68px;
    top: 11px;
    left: 14px;
  }
  
  .tutorial_2 .view-6 {
    position: absolute;
    width: 292px;
    height: 47px;
    top: 0;
    left: 0;
  }
  
  .tutorial_2 .image-6 {
    position: absolute;
    width: 47px;
    height: 49px;
    top: -1px;
    left: -1px;
  }
  
  .tutorial_2 .image-7 {
    position: absolute;
    width: 47px;
    height: 49px;
    top: -1px;
    left: 246px;
  }
  
  .tutorial_2 .image-8 {
    position: absolute;
    width: 47px;
    height: 47px;
    top: 1px;
    left: 82px;
    object-fit: cover;
  }
  
  .tutorial_2 .image-9 {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 2px;
    left: 165px;
    object-fit: cover;
  }
  
  .tutorial_2 .view-7 {
    position: absolute;
    width: 287px;
    height: 8px;
    top: 60px;
    left: 6px;
  }
  
  .tutorial_2 .text-wrapper-10 {
    position: absolute;
    width: 33px;
    height: 8px;
    top: 0;
    left: 81px;
    font-family: "Manrope-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .tutorial_2 .text-wrapper-11 {
    left: 0;
    position: absolute;
    width: 33px;
    height: 8px;
    top: 0;
    font-family: "Manrope-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .tutorial_2 .text-wrapper-12 {
    left: 164px;
    position: absolute;
    width: 33px;
    height: 8px;
    top: 0;
    font-family: "Manrope-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .tutorial_2 .text-wrapper-13 {
    left: 246px;
    position: absolute;
    width: 33px;
    height: 8px;
    top: 0;
    font-family: "Manrope-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .tutorial_2 .element-2 {
    position: absolute;
    width: 292px;
    height: 64px;
    top: 92px;
    left: 16px;
  }
  
  .tutorial_2 .view-8 {
    position: absolute;
    width: 287px;
    height: 8px;
    top: 56px;
    left: 4px;
  }
  
  .tutorial_2 .image-10 {
    position: absolute;
    width: 47px;
    height: 47px;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  
  .tutorial_2 .image-11 {
    position: absolute;
    width: 47px;
    height: 47px;
    top: 0;
    left: 79px;
    object-fit: cover;
  }
  
  .tutorial_2 .image-12 {
    position: absolute;
    width: 47px;
    height: 47px;
    top: 0;
    left: 165px;
    object-fit: cover;
  }
  
  .tutorial_2 .image-13 {
    position: absolute;
    width: 47px;
    height: 47px;
    top: 0;
    left: 245px;
    object-fit: cover;
  }
  
  .tutorial_2 .view-9 {
    position: absolute;
    width: 247px;
    height: 73px;
    top: 150px;
    left: 72px;
  }
  
  .tutorial_2 .overlap-5 {
    position: relative;
    width: 243px;
    height: 73px;
    bottom: 7%;
    right: -25%;
  }
  
  .tutorial_2 .rectangle-2 {
    width: 238px;
    height: 49px;
    top: 0;
    background-color: #ffd8e4;
    border-radius: 7px;
    position: absolute;
    left: 0;
  }
  
  .tutorial_2 .text-wrapper-14 {
    position: absolute;
    width: 26px;
    height: 21px;
    top: 3px;
    left: 8px;
    font-family: "Manrope-Bold", Helvetica;
    font-weight: 700;
    color: #5f5f5f;
    font-size: 10px;
    letter-spacing: 0.70px;
    line-height: 14px;
  }
  
  .tutorial_2 .polygon {
    position: absolute;
    width: 14px;
    height: 17px;
    top: 44px;
    left: 7px;
  }
  
  .tutorial_2 .text-wrapper-15 {
    position: absolute;
    width: 235px;
    height: 62px;
    top: 18px;
    left: 8px;
    font-family: "Manrope-Bold", Helvetica;
    font-weight: 700;
    color: #3e3939;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .tutorial_2 .arrow-right-circle {
    position: absolute;
    width: 33px;
    height: 33px;
    top: 40px;
    left: 84%;
  }
  
  .tutorial_2 .overlap-6 {
    position: relative;
    width: 375px;
    height: 75px;
    background-color: #333333;
    border-radius: 13px;
    top: 93%;
  }
  
  .tutorial_2 .text-wrapper-16 {
    position: absolute;
    width: 203px;
    height: 14px;
    top: 17px;
    left: 84px;
    font-family: "Manrope-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 35px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  @media (max-width: 800px){
    .tutorial_2 {
      background-color: #f2f2f2;
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100vw;
      height: 100vh;
    }
    
    .tutorial_2 .div {
      background-color: #f2f2f2;
      overflow: hidden;
      width: 100vw;
      height: 100vh;
      position: relative;
    }
    
    .tutorial_2 .view {
      position: absolute;
      width: 335px;
      height: 184px;
      top: 125%;
      left: 0;
    }
    
    .tutorial_2 .overlap {
      position: absolute;
      width: 331px;
      height: 50vh;
      top: 47px;
      left: 2px;
      background-color: #ffffff;
      border-radius: 7px;
    }
    
    .tutorial_2 .text-wrapper {
      position: absolute;
      width: 236px;
      height: 71px;
      top: 34px;
      left: 47px;
      font-family: "Manrope-Medium", Helvetica;
      font-weight: 500;
      color: #3e3939;
      font-size: 22px;
      text-align: center;
      letter-spacing: 2.86px;
      line-height: normal;
    }
    
    .tutorial_2 .overlap-group-wrapper {
      position: absolute;
      width: 95px;
      height: 37px;
      top: 0;
      left: 0;
    }
    
    .tutorial_2 .overlap-group {
      position: relative;
      width: 93px;
      height: 37px;
      background-color: #333333;
      border-radius: 16px;
    }
    
    .tutorial_2 .text-wrapper-2 {
      position: absolute;
      width: 80px;
      height: 20px;
      top: 9px;
      left: 5px;
      font-family: "Manrope-Bold", Helvetica;
      font-weight: 700;
      color: #ffffff;
      font-size: 14px;
      text-align: center;
      letter-spacing: 0;
      line-height: normal;
    }
    
    .tutorial_2 .overlap-2 {
      position: absolute;
      width: 373px;
      height: 51px;
      top: 42px;
      left: 2px;
    }
    
    .tutorial_2 .view-2 {
      position: absolute;
      width: 373px;
      height: 39px;
      top: 12px;
      left: 0;
    }
    
    .tutorial_2 .rectangle {
      width: 100vw;
      height: 1px;
      top: 38px;
      background-color: #0000004c;
      opacity: 0.7;
      position: absolute;
      left: 0;
    }
    
    .tutorial_2 .text-wrapper-3 {
      position: absolute;
      width: 177px;
      top: 0;
      left: 101px;
      font-family: "Manrope-Bold", Helvetica;
      font-weight: 700;
      color: #000000;
      font-size: 24px;
      text-align: center;
      letter-spacing: 0.10px;
      line-height: 38.4px;
      white-space: nowrap;
    }
    
    .tutorial_2 .image {
      position: absolute;
      width: 30px;
      height: 30px;
      top: 12px;
      left: 16px;
      object-fit: cover;
    }
    
    .tutorial_2 .overlap-wrapper {
      width: 357px;
      height: 21px;
      left: 8px;
      position: absolute;
      top: 0;
    }
    
    .tutorial_2 .div-wrapper {
      position: relative;
      width: 100vw;
      height: 21px;
      left: -3%;
      background-color: var(--fuschia-60);
    }
    
    .tutorial_2 .text-wrapper-4 {
      width: 47px;
      height: 20px;
      left: 43%;
      font-family: "Manrope-Regular", Helvetica;
      font-weight: 400;
      color: #000000;
      font-size: 13px;
      letter-spacing: 0;
      line-height: normal;
      position: absolute;
      top: 0;
    }
    
    .tutorial_2 .overlap-3 {
      position: absolute;
      width: 100vw;
      height: 48vh;
      top: 115px;
      left: 8%;
    }
    
    .tutorial_2 .view-3 {
      position: absolute;
      width: 332px;
      height: 183px;
      top: 0;
      left: 1px;
    }
    
    .tutorial_2 .overlap-4 {
      position: absolute;
      width: 332px;
      height: 138px;
      top: 45px;
      left: 0;
      background-color: #ffffff;
      border-radius: 7px;
    }
    
    .tutorial_2 .navbar {
      position: absolute;
      width: 312px;
      height: 9px;
      top: 100px;
      left: 14px;
    }
    
    .tutorial_2 .text-wrapper-5 {
      left: 68px;
      position: absolute;
      width: 37px;
      height: 9px;
      top: 0;
      font-family: "Manrope-Bold", Helvetica;
      font-weight: 700;
      color: #000000;
      font-size: 14px;
      text-align: center;
      letter-spacing: 0;
      line-height: normal;
      white-space: nowrap;
    }
    
    .tutorial_2 .text-wrapper-6 {
      left: 0;
      position: absolute;
      width: 37px;
      height: 9px;
      top: 0;
      font-family: "Manrope-Bold", Helvetica;
      font-weight: 700;
      color: #000000;
      font-size: 14px;
      text-align: center;
      letter-spacing: 0;
      line-height: normal;
      white-space: nowrap;
    }
    
    .tutorial_2 .text-wrapper-7 {
      left: 133px;
      position: absolute;
      width: 37px;
      height: 9px;
      top: 0;
      font-family: "Manrope-Bold", Helvetica;
      font-weight: 700;
      color: #000000;
      font-size: 14px;
      text-align: center;
      letter-spacing: 0;
      line-height: normal;
      white-space: nowrap;
    }
    
    .tutorial_2 .text-wrapper-8 {
      left: 200px;
      position: absolute;
      width: 37px;
      height: 9px;
      top: 0;
      font-family: "Manrope-Bold", Helvetica;
      font-weight: 700;
      color: #000000;
      font-size: 14px;
      text-align: center;
      letter-spacing: 0;
      line-height: normal;
      white-space: nowrap;
    }
    
    .tutorial_2 .text-wrapper-9 {
      left: 266px;
      position: absolute;
      width: 37px;
      height: 9px;
      top: 0;
      font-family: "Manrope-Bold", Helvetica;
      font-weight: 700;
      color: #000000;
      font-size: 14px;
      text-align: center;
      letter-spacing: 0;
      line-height: normal;
      white-space: nowrap;
    }
    
    .tutorial_2 .view-4 {
      position: absolute;
      width: 312px;
      height: 53px;
      top: 28px;
      left: 8px;
    }
    
    .tutorial_2 .img {
      position: absolute;
      width: 49px;
      height: 49px;
      top: 0;
      left: 0;
    }
    
    .tutorial_2 .image-2 {
      position: absolute;
      width: 49px;
      height: 49px;
      top: 3px;
      left: 65px;
    }
    
    .tutorial_2 .image-3 {
      position: absolute;
      width: 51px;
      height: 51px;
      top: 2px;
      left: 134px;
    }
    
    .tutorial_2 .image-4 {
      position: absolute;
      width: 49px;
      height: 49px;
      top: 0;
      left: 197px;
    }
    
    .tutorial_2 .image-5 {
      position: absolute;
      width: 49px;
      height: 49px;
      top: 0;
      left: 262px;
    }
    
    .tutorial_2 .overlap-group-wrapper-2 {
      position: absolute;
      width: 94px;
      height: 37px;
      top: 0;
      left: 0;
    }
    
    .tutorial_2 .overlap-group-2 {
      position: relative;
      width: 92px;
      height: 37px;
      background-color: #333333;
      border-radius: 16px;
    }
    
    .tutorial_2 .view-5 {
      position: absolute;
      width: 334px;
      height: 217px;
      top: 57%;
      left: 0;
    }
    
    .tutorial_2 .div-2 {
      position: absolute;
      width: 332px;
      height: 171px;
      top: 47px;
      left: 2px;
      background-color: #ffffff;
      border-radius: 7px;
    }
    
    .tutorial_2 .element {
      position: absolute;
      width: 292px;
      height: 68px;
      top: 11px;
      left: 14px;
    }
    
    .tutorial_2 .view-6 {
      position: absolute;
      width: 292px;
      height: 47px;
      top: 0;
      left: 0;
    }
    
    .tutorial_2 .image-6 {
      position: absolute;
      width: 47px;
      height: 49px;
      top: -1px;
      left: -1px;
    }
    
    .tutorial_2 .image-7 {
      position: absolute;
      width: 47px;
      height: 49px;
      top: -1px;
      left: 246px;
    }
    
    .tutorial_2 .image-8 {
      position: absolute;
      width: 47px;
      height: 47px;
      top: 1px;
      left: 82px;
      object-fit: cover;
    }
    
    .tutorial_2 .image-9 {
      position: absolute;
      width: 45px;
      height: 45px;
      top: 2px;
      left: 165px;
      object-fit: cover;
    }
    
    .tutorial_2 .view-7 {
      position: absolute;
      width: 287px;
      height: 8px;
      top: 60px;
      left: 6px;
    }
    
    .tutorial_2 .text-wrapper-10 {
      position: absolute;
      width: 33px;
      height: 8px;
      top: 0;
      left: 81px;
      font-family: "Manrope-Bold", Helvetica;
      font-weight: 700;
      color: #000000;
      font-size: 14px;
      text-align: center;
      letter-spacing: 0;
      line-height: normal;
      white-space: nowrap;
    }
    
    .tutorial_2 .text-wrapper-11 {
      left: 0;
      position: absolute;
      width: 33px;
      height: 8px;
      top: 0;
      font-family: "Manrope-Bold", Helvetica;
      font-weight: 700;
      color: #000000;
      font-size: 14px;
      text-align: center;
      letter-spacing: 0;
      line-height: normal;
      white-space: nowrap;
    }
    
    .tutorial_2 .text-wrapper-12 {
      left: 164px;
      position: absolute;
      width: 33px;
      height: 8px;
      top: 0;
      font-family: "Manrope-Bold", Helvetica;
      font-weight: 700;
      color: #000000;
      font-size: 14px;
      text-align: center;
      letter-spacing: 0;
      line-height: normal;
      white-space: nowrap;
    }
    
    .tutorial_2 .text-wrapper-13 {
      left: 246px;
      position: absolute;
      width: 33px;
      height: 8px;
      top: 0;
      font-family: "Manrope-Bold", Helvetica;
      font-weight: 700;
      color: #000000;
      font-size: 14px;
      text-align: center;
      letter-spacing: 0;
      line-height: normal;
      white-space: nowrap;
    }
    
    .tutorial_2 .element-2 {
      position: absolute;
      width: 292px;
      height: 64px;
      top: 92px;
      left: 16px;
    }
    
    .tutorial_2 .view-8 {
      position: absolute;
      width: 287px;
      height: 8px;
      top: 56px;
      left: 4px;
    }
    
    .tutorial_2 .image-10 {
      position: absolute;
      width: 47px;
      height: 47px;
      top: 0;
      left: 0;
      object-fit: cover;
    }
    
    .tutorial_2 .image-11 {
      position: absolute;
      width: 47px;
      height: 47px;
      top: 0;
      left: 79px;
      object-fit: cover;
    }
    
    .tutorial_2 .image-12 {
      position: absolute;
      width: 47px;
      height: 47px;
      top: 0;
      left: 165px;
      object-fit: cover;
    }
    
    .tutorial_2 .image-13 {
      position: absolute;
      width: 47px;
      height: 47px;
      top: 0;
      left: 245px;
      object-fit: cover;
    }
    
    .tutorial_2 .view-9 {
      position: absolute;
      width: 247px;
      height: 73px;
      top: 48%;
      left: 72px;
    }
    
    .tutorial_2 .overlap-5 {
      position: relative;
      width: 243px;
      height: 73px;
      top: -10%;
      right: -20%;
    }
    
    .tutorial_2 .rectangle-2 {
      width: 238px;
      height: 49px;
      top: 0;
      background-color: #ffd8e4;
      border-radius: 7px;
      position: absolute;
      left: 0;
    }
    
    .tutorial_2 .text-wrapper-14 {
      position: absolute;
      width: 26px;
      height: 21px;
      top: 3px;
      left: 8px;
      font-family: "Manrope-Bold", Helvetica;
      font-weight: 700;
      color: #5f5f5f;
      font-size: 10px;
      letter-spacing: 0.70px;
      line-height: 14px;
    }
    
    .tutorial_2 .polygon {
      position: absolute;
      width: 14px;
      height: 17px;
      top: 44px;
      left: 7px;
    }
    
    .tutorial_2 .text-wrapper-15 {
      position: absolute;
      width: 235px;
      height: 62px;
      top: 18px;
      left: 8px;
      font-family: "Manrope-Bold", Helvetica;
      font-weight: 700;
      color: #3e3939;
      font-size: 16px;
      letter-spacing: 0;
      line-height: normal;
    }
    
    .tutorial_2 .arrow-right-circle {
      position: absolute;
      width: 33px;
      height: 33px;
      top: 40px;
      left: 84%;
    }
    
    .tutorial_2 .overlap-6 {
      position: relative;
      width: 100vw;
      height: 75px;
      top: 93%;
      background-color: #333333;
      border-radius: 13px;
    }
    
    .tutorial_2 .text-wrapper-16 {
      position: absolute;
      width: 203px;
      height: 14px;
      top: 9%;
      left: 24%;
      font-family: "Manrope-Bold", Helvetica;
      font-weight: 700;
      color: #ffffff;
      font-size: 35px;
      text-align: center;
      letter-spacing: 0;
      line-height: normal;
      white-space: nowrap;
    }
  }