.tutorial {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .tutorial .overlap-wrapper {
    overflow: hidden;
    width: 375px;
    height: 812px;
  }
  
  .tutorial .overlap {
    position: relative;
    width: 428px;
    height: 926px;
  }
  
  .tutorial .main {
    position: absolute;
    width: 428px;
    height: 926px;
    top: 0;
    left: 0;
    background-color: #f2f2f2;
    opacity: 0.5;
  }
  
  .tutorial .user-logo-account {
    position: absolute;
    width: 30px;
    height: 49px;
    top: 855px;
    left: 297px;
  }
  
  .tutorial .user-account-wrapper {
    position: relative;
    height: 49px;
    top: 18px;
    left: -13px;
  }
  
  .tutorial .user-account {
    position: relative;
    width: 30px;
    height: 49px;
    left: 4px;
  }
  
  .tutorial .user-account-button {
    position: absolute;
    width: 30px;
    height: 49px;
    top: 1272px;
    left: -392px;
  }
  
  .tutorial .view {
    position: absolute;
    width: 335px;
    height: 184px;
    top: 545px;
    left: 23px;
  }
  
  .tutorial .overlap-group {
    position: absolute;
    width: 331px;
    height: 138px;
    top: 47px;
    left: 2px;
    background-color: #ffffff;
    border-radius: 7px;
  }
  
  .tutorial .text-wrapper {
    position: absolute;
    width: 236px;
    height: 71px;
    top: 34px;
    left: 47px;
    font-family: "Manrope-Medium", Helvetica;
    font-weight: 500;
    color: #3e3939;
    font-size: 22px;
    text-align: center;
    letter-spacing: 2.86px;
    line-height: normal;
  }
  
  .tutorial .overlap-group-wrapper {
    position: absolute;
    width: 95px;
    height: 37px;
    top: 0;
    left: 0;
  }
  
  .tutorial .div-wrapper {
    position: relative;
    width: 93px;
    height: 37px;
    background-color: #333333;
    border-radius: 16px;
  }
  
  .tutorial .div {
    width: 71px;
    height: 20px;
    top: 9px;
    left: 10px;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    font-family: "Manrope-Bold", Helvetica;
    font-weight: 700;
  }
  
  .tutorial .view-2 {
    position: absolute;
    width: 334px;
    height: 217px;
    top: 312px;
    left: 23px;
  }
  
  .tutorial .overlap-group-wrapper-2 {
    position: absolute;
    width: 94px;
    height: 37px;
    top: 0;
    left: 0;
  }
  
  .tutorial .overlap-group-2 {
    position: relative;
    width: 92px;
    height: 37px;
    background-color: #333333;
    border-radius: 16px;
  }
  
  .tutorial .div-2 {
    position: absolute;
    width: 332px;
    height: 171px;
    top: 47px;
    left: 2px;
    background-color: #ffffff;
    border-radius: 7px;
  }
  
  .tutorial .element {
    position: absolute;
    width: 292px;
    height: 68px;
    top: 11px;
    left: 14px;
  }
  
  .tutorial .view-3 {
    position: absolute;
    width: 292px;
    height: 47px;
    top: 0;
    left: 0;
  }
  
  .tutorial .image {
    position: absolute;
    width: 47px;
    height: 49px;
    top: -1px;
    left: -1px;
  }
  
  .tutorial .img {
    position: absolute;
    width: 47px;
    height: 49px;
    top: -1px;
    left: 246px;
  }
  
  .tutorial .image-2 {
    position: absolute;
    width: 47px;
    height: 47px;
    top: 1px;
    left: 82px;
    object-fit: cover;
  }
  
  .tutorial .image-3 {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 2px;
    left: 165px;
    object-fit: cover;
  }
  
  .tutorial .view-4 {
    position: absolute;
    width: 287px;
    height: 8px;
    top: 60px;
    left: 6px;
  }
  
  .tutorial .text-wrapper-2 {
    width: 33px;
    height: 8px;
    top: 0;
    left: 81px;
    color: #000000;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    position: absolute;
    font-family: "Manrope-Bold", Helvetica;
    font-weight: 700;
  }
  
  .tutorial .text-wrapper-3 {
    width: 33px;
    height: 8px;
    top: 0;
    left: 0;
    color: #000000;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    position: absolute;
    font-family: "Manrope-Bold", Helvetica;
    font-weight: 700;
  }
  
  .tutorial .text-wrapper-4 {
    width: 33px;
    height: 8px;
    top: 0;
    left: 164px;
    color: #000000;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    position: absolute;
    font-family: "Manrope-Bold", Helvetica;
    font-weight: 700;
  }
  
  .tutorial .text-wrapper-5 {
    width: 33px;
    height: 8px;
    top: 0;
    left: 246px;
    color: #000000;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    position: absolute;
    font-family: "Manrope-Bold", Helvetica;
    font-weight: 700;
  }
  
  .tutorial .element-2 {
    position: absolute;
    width: 292px;
    height: 64px;
    top: 92px;
    left: 16px;
  }
  
  .tutorial .view-5 {
    position: absolute;
    width: 287px;
    height: 8px;
    top: 56px;
    left: 4px;
  }
  
  .tutorial .image-4 {
    position: absolute;
    width: 47px;
    height: 47px;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  
  .tutorial .image-5 {
    position: absolute;
    width: 47px;
    height: 47px;
    top: 0;
    left: 79px;
    object-fit: cover;
  }
  
  .tutorial .image-6 {
    position: absolute;
    width: 47px;
    height: 47px;
    top: 0;
    left: 165px;
    object-fit: cover;
  }
  
  .tutorial .image-7 {
    position: absolute;
    width: 47px;
    height: 47px;
    top: 0;
    left: 245px;
    object-fit: cover;
  }
  
  .tutorial .overlap-2 {
    position: absolute;
    width: 373px;
    height: 39px;
    top: 54px;
    left: 2px;
  }
  
  .tutorial .view-6 {
    position: absolute;
    width: 373px;
    height: 39px;
    top: 0;
    left: 0;
  }
  
  .tutorial .rectangle {
    width: 371px;
    height: 1px;
    top: 38px;
    background-color: #0000004c;
    opacity: 0.7;
    position: absolute;
    left: 0;
  }
  
  .tutorial .text-wrapper-6 {
    width: 177px;
    top: 0;
    left: 101px;
    color: #000000;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.10px;
    line-height: 38.4px;
    white-space: nowrap;
    position: absolute;
    font-family: "Manrope-Bold", Helvetica;
    font-weight: 700;
  }
  
  .tutorial .image-8 {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    left: 16px;
    object-fit: cover;
  }
  
  .tutorial .view-7 {
    position: absolute;
    width: 377px;
    height: 75px;
    top: 759px;
    left: 0;
  }
  
  .tutorial .overlap-3 {
    position: relative;
    width: 375px;
    height: 75px;
    background-color: #333333;
    border-radius: 13px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .tutorial .text-wrapper-7 {
    width: 203px;
    height: 14px;
    top: 16px;
    left: 83px;
    color: #ffffff;
    font-size: 35px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    position: absolute;
    font-family: "Manrope-Bold", Helvetica;
    font-weight: 700;
  }
  
  .tutorial .view-8 {
    position: absolute;
    width: 332px;
    height: 184px;
    top: 115px;
    left: 24px;
  }
  
  .tutorial .overlap-4 {
    position: absolute;
    width: 332px;
    height: 138px;
    top: 46px;
    left: 0;
    background-color: #ffffff;
    border-radius: 7px;
  }
  
  .tutorial .navbar {
    position: absolute;
    width: 312px;
    height: 9px;
    top: 99px;
    left: 14px;
  }
  
  .tutorial .text-wrapper-8 {
    left: 68px;
    position: absolute;
    width: 37px;
    height: 9px;
    top: 0;
    font-family: "Manrope-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .tutorial .text-wrapper-9 {
    left: 0;
    position: absolute;
    width: 37px;
    height: 9px;
    top: 0;
    font-family: "Manrope-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .tutorial .text-wrapper-10 {
    left: 133px;
    position: absolute;
    width: 37px;
    height: 9px;
    top: 0;
    font-family: "Manrope-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .tutorial .text-wrapper-11 {
    left: 200px;
    position: absolute;
    width: 37px;
    height: 9px;
    top: 0;
    font-family: "Manrope-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .tutorial .text-wrapper-12 {
    left: 266px;
    position: absolute;
    width: 37px;
    height: 9px;
    top: 0;
    font-family: "Manrope-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .tutorial .view-9 {
    position: absolute;
    width: 312px;
    height: 53px;
    top: 27px;
    left: 8px;
  }
  
  .tutorial .image-9 {
    position: absolute;
    width: 49px;
    height: 49px;
    top: 0;
    left: 0;
  }
  
  .tutorial .image-10 {
    position: absolute;
    width: 49px;
    height: 49px;
    top: 3px;
    left: 65px;
  }
  
  .tutorial .image-11 {
    position: absolute;
    width: 51px;
    height: 51px;
    top: 2px;
    left: 134px;
  }
  
  .tutorial .image-12 {
    position: absolute;
    width: 49px;
    height: 49px;
    top: 0;
    left: 197px;
  }
  
  .tutorial .image-13 {
    position: absolute;
    width: 49px;
    height: 49px;
    top: 0;
    left: 262px;
  }
  
  .tutorial .overlap-wrapper-2 {
    position: absolute;
    width: 249px;
    height: 76px;
    top: 68px;
    left: 99px;
  }
  
  .tutorial .overlap-5 {
    position: relative;
    width: 245px;
    height: 76px;
  }
  
  .tutorial .view-10 {
    position: absolute;
    width: 233px;
    height: 63px;
    top: 0;
    left: 0;
  }
  
  .tutorial .overlap-group-3 {
    position: relative;
    height: 60px;
  }
  
  .tutorial .rectangle-2 {
    width: 233px;
    height: 48px;
    top: 0;
    background-color: #ffd8e4;
    border-radius: 7px;
    position: absolute;
    left: 0;
  }
  
  .tutorial .polygon {
    position: absolute;
    width: 18px;
    height: 16px;
    top: 44px;
    left: 12px;
  }
  
  .tutorial .p {
    width: 235px;
    height: 62px;
    top: 0;
    left: 10px;
    color: #3e3939;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    font-family: "Manrope-Bold", Helvetica;
    font-weight: 700;
  }
  
  .tutorial .arrow-right-circle {
    position: absolute;
    width: 33px;
    height: 33px;
    top: 43px;
    left: 197px;
  }
  
  .tutorial .text-wrapper-13 {
    width: 26px;
    height: 21px;
    top: 3px;
    left: 11px;
    color: #5f5f5f;
    font-size: 10px;
    letter-spacing: 0.70px;
    line-height: 14px;
    position: absolute;
    font-family: "Manrope-Bold", Helvetica;
    font-weight: 700;
  }
  
  .tutorial .overlap-wrapper-3 {
    position: absolute;
    width: 357px;
    height: 21px;
    top: 42px;
    left: 10px;
  }
  
  .tutorial .overlap-6 {
    position: relative;
    width: 355px;
    height: 21px;
    background-color: var(--fuschia-60);
  }
  
  .tutorial .text-wrapper-14 {
    position: absolute;
    width: 47px;
    height: 20px;
    top: 0;
    left: 154px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 13px;
    letter-spacing: 0;
    line-height: normal;
  }
  