.screen {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .screen .div {
    background-color: #ffffff;
    width: 375px;
    height: 812px;
    position: relative;
  }
  
  .screen .calendar-month {
    position: absolute;
    width: 169px;
    height: 51px;
    top: 125px;
    left: 106px;
  }
  
  .screen .month_group {
    position: absolute;
    width: 83px;
    height: 51px;
    top: 0;
    left: 42px;
  }
  
  .screen .calendar {
    display: flex;
    width: 83.12px;
    height: 25.1px;
    align-items: center;
    justify-content: center;
    padding: 2px 8px;
    position: relative;
    top: 26px;
    left: 0;
    background-color: #000000;
    border-radius: 4px;
  }
  
  .screen .month_text {
    position: relative;
    width: fit-content;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 17px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .year_text {
    position: absolute;
    width: 59px;
    height: 27px;
    top: -30px;
    left: 11px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .left_vector {
    position: absolute;
    width: 13.06px;
    height: 14.83px;
    top: 32px;
    left: 0px;
  }
  
  .screen .right_vector {
    position: absolute;
    width: 13.06px;
    height: 14.83px;
    top: 32px;
    right: 0;
  }
    
  .screen .month_sentiment_group {
    position: relative;
    width: 276px;
    height: 87px;
    background-color: #d9d9d9;
    border-radius: 20px;
    top: 82%;
    transform: translateX(18%);
  }
  
  .screen .month_sentiment {
    position: absolute;
    width: 225px;
    height: 52px;
    top: 29px;
    left: 27px;
  }
  
  .screen .sentiment {
    position: absolute;
    width: 222px;
    height: 36px;
    top: 0;
    left: 0;
  }
  
  .screen .sentiment_1 {
    position: absolute;
    width: 31px;
    height: 36px;
    top: 0;
    left: 0;
  }

  .screen .sentiment_group {
    position: absolute;
    width: 31px;
    height: 37px;
    top: -2px;
  }

  
  .screen .sentiment_2 {
    position: absolute;
    width: 31px;
    height: 37px;
    top: 0;
    left: 48px;
  }
  
  
  .screen .sentiment_3 {
    position: absolute;
    width: 31px;
    height: 37px;
    top: 0;
    left: 96px;
  }
  
  .screen .sentiment_4 {
    position: absolute;
    width: 30px;
    height: 37px;
    top: 0;
    left: 144px;
  }
  
  .screen .sentiment_5 {
    position: absolute;
    width: 31px;
    height: 37px;
    top: 0;
    left: 191px;
  }

  .screen .count_text_1 {
    width: 18px;
    height: 16px;
    top: 36px;
    left: 2.5px;
    position: absolute;
    font-family: "Lato-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 10px;
    text-align: center;
    letter-spacing: 0;
    line-height: 12.5px;
  }
  
  .screen .count_text_2 {
    width: 18px;
    height: 16px;
    top: 36px;
    left: 50.5px;
    position: absolute;
    font-family: "Lato-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 10px;
    text-align: center;
    letter-spacing: 0;
    line-height: 12.5px;
  }
  
  .screen .count_text_3 {
    width: 18px;
    height: 16px;
    top: 36px;
    left: 98.5px;
    position: absolute;
    font-family: "Lato-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 10px;
    text-align: center;
    letter-spacing: 0;
    line-height: 12.5px;
  }
  
  .screen .count_text_4 {
    width: 18px;
    height: 16px;
    top: 36px;
    left: 146.5px;
    position: absolute;
    font-family: "Lato-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 10px;
    text-align: center;
    letter-spacing: 0;
    line-height: 12.5px;
  }
  
  .screen .count_text_5 {
    width: 18px;
    height: 16px;
    top: 36px;
    left: 194.5px;
    position: absolute;
    font-family: "Lato-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 10px;
    text-align: center;
    letter-spacing: 0;
    line-height: 12.5px;
  }
  
  .screen .sentiment_text {
    position: absolute;
    width: 75px;
    height: 13px;
    top: 7px;
    left: 102px;
    font-family: "Manrope-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 11px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .screen .music {
    position: absolute;
    width: 74px;
    height: 69px;
    top: 43px;
    left: 150px;
  }
  
  .screen .days-of-week {
    display: flex;
    width: 361px;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 4px;
    position: relative;
    background-color: #ffffff;
  }
  
  .screen .day_group {
    position: relative;
    flex: 1;
    flex-grow: 1;
    height: 24px;
    background-color: #ffffff;
  }
  
  .screen .day_text {
    position: absolute;
    height: 15px;
    top: 3px;
    left: 16px;
    opacity: 0.5;
    font-family: "Lato-Regular", Helvetica;
    font-weight: 400;
    color: var(--black);
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: 15px;
    white-space: nowrap;
  }
  
  .screen .calendar-date {
    position: absolute;
    width: 359px;
    height: 388px;
    top: -148px;
    left: -130px;
  }

  .screen .calendar-week {
    position: absolute;
    width: 361px;
    height: 28px;
    top: 197px;
    left: 6px;
  }
  
  .screen .sun {
    position: absolute;
    /* width: 47px;
    height: 388px; */
    top: 0;
    left: 0;
  }
  
  .screen .second {
    position: absolute;
    width: 49px;
    height: 72px;
    top: 79px;
    left: 0;
  }
  
  .screen .overlap-group-3 {
    position: relative;
    width: 47px;
    height: 72px;
  }
  
  
  .screen .rectangle {
    position: absolute;
    width: 47px;
    height: 72px;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
  }
  
  .screen .text-wrapper-9 {
    position: absolute;
    width: 17px;
    height: 11px;
    top: 3px;
    left: 14px;
    font-family: "Lato-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 10px;
    text-align: center;
    letter-spacing: 0;
    line-height: 12.5px;
    white-space: nowrap;
  }

  .screen .first {
    position: absolute;
    width: 49px;
    height: 72px;
    top: 0;
    left: 0;
  }
  
  .screen .fourth {
    position: absolute;
    width: 49px;
    height: 72px;
    top: 237px;
    left: 0;
  }  
  
  .screen .fifth {
    position: absolute;
    width: 49px;
    height: 72px;
    top: 316px;
    left: 0;
  }
  
  .screen .third {
    position: absolute;
    width: 49px;
    height: 72px;
    top: 158px;
    left: 0;
  }
  
  .screen .mon {
    position: absolute;
    /* width: 47px;
    height: 388px; */
    top: 0;
    left: 52px;
  }
  
  .screen .tue {
    position: absolute;
    /* width: 47px;
    height: 388px; */
    top: 0;
    left: 104px;
  }
  
  .screen .wed {
    position: absolute;
    /* width: 47px;
    height: 388px; */
    top: 0;
    left: 156px;
  }
  
  .screen .thu {
    position: absolute;
    /* width: 47px;
    height: 388px; */
    top: 0;
    left: 208px;
  }
  
  .screen .fri {
    position: absolute;
    /* width: 47px;
    height: 388px; */
    top: 0;
    left: 260px;
  }
  
  .screen .sat {
    position: absolute;
    /* width: 47px;
    height: 388px; */
    top: 0;
    left: 312px;
  }
  
  .screen .tutorial {
    position: absolute;
    width: 72px;
    height: 46px;
    top: 43px;
    left: 283px;
  }
  
  .screen .tutorial_rectangle {
    position: relative;
    width: 70px;
    height: 46px;
    background-color: var(--fuschia-60);
    border-radius: 4px;
  }
  
  .screen .tutorial_text {
    position: absolute;
    width: 58px;
    height: 44px;
    top: 7px;
    left: 9px;
    font-family: "Manrope-Bold", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 13px;
    letter-spacing: 0;
    line-height: normal;
  }

  .screen .dates {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 225px;
    padding: 0 10px;
}

.screen .date-box {
    width: 47px;
    height: 72px;
    background-color: #ffffff;
    border: 1px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Lato-Regular", Helvetica;
    font-size: 10px;
    color: #000000;
    text-align: center;
    border-radius: 4px;
    position: relative;
}

.swal-button {
	background-color: #f2f2f2; 
	font-size: 14px;
  color: #333;
} 

.swal-modal {
  background-color: #FCDDEC !important; /* 원하는 배경색으로 변경 */
}

/* 텍스트 색상이나 크기를 조정하고 싶다면 */
.swal-title {
  color: #333; /* 텍스트 색상 */
  font-size: 20px; /* 제목 글자 크기 */
  
}


@media (max-width: 800px){
  .screen {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    height: 100vh;
  }
  
  .screen .div {
    background-color: #ffffff;
    width: 375px;
    height: 812px;
    position: relative;
  }
  
  .screen .calendar-month {
    position: absolute;
    width: 169px;
    height: 51px;
    top: 125px;
    left: 106px;
  }
  
  .screen .month_group {
    position: absolute;
    width: 83px;
    height: 51px;
    top: 0;
    left: 42px;
  }
  
  .screen .calendar {
    display: flex;
    width: 83.12px;
    height: 25.1px;
    align-items: center;
    justify-content: center;
    padding: 2px 8px;
    position: relative;
    top: 26px;
    left: 0;
    background-color: #000000;
    border-radius: 4px;
  }
  
  .screen .month_text {
    position: relative;
    width: fit-content;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 17px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .year_text {
    position: absolute;
    width: 59px;
    height: 27px;
    top: -30px;
    left: 11px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .left_vector {
    position: absolute;
    width: 13.06px;
    height: 14.83px;
    top: 32px;
    left: 0px;
  }
  
  .screen .right_vector {
    position: absolute;
    width: 13.06px;
    height: 14.83px;
    top: 32px;
    right: 0;
  }

  .screen .overlap {
    position: relative;
    width: 276px;
    height: 87px;
    background-color: #d9d9d9;
    border-radius: 20px;
    top: 82%;
    transform: translateX(18%);
  }
  
  .screen .overlap-2 {
    position: absolute;
    width: 225px;
    height: 52px;
    top: 29px;
    left: 27px;
  }
  
  .screen .sentiment {
    position: absolute;
    width: 222px;
    height: 36px;
    top: 0;
    left: 0;
  }
  
  .screen .sentiment_1 {
    position: absolute;
    width: 31px;
    height: 36px;
    top: 0;
    left: 0;
  }

  .screen .sentiment_group {
    position: absolute;
    width: 31px;
    height: 37px;
    top: -2px;
  }

  
  .screen .sentiment_2 {
    position: absolute;
    width: 31px;
    height: 37px;
    top: 0;
    left: 48px;
  }
  
  
  .screen .sentiment_3 {
    position: absolute;
    width: 31px;
    height: 37px;
    top: 0;
    left: 96px;
  }
  
  .screen .sentiment_4 {
    position: absolute;
    width: 30px;
    height: 37px;
    top: 0;
    left: 144px;
  }
  
  .screen .sentiment_5 {
    position: absolute;
    width: 31px;
    height: 37px;
    top: 0;
    left: 191px;
  }

  .screen .count_text_1 {
    width: 18px;
    height: 16px;
    top: 36px;
    left: 2.5px;
    position: absolute;
    font-family: "Lato-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 10px;
    text-align: center;
    letter-spacing: 0;
    line-height: 12.5px;
  }
  
  .screen .count_text_2 {
    width: 18px;
    height: 16px;
    top: 36px;
    left: 50.5px;
    position: absolute;
    font-family: "Lato-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 10px;
    text-align: center;
    letter-spacing: 0;
    line-height: 12.5px;
  }
  
  .screen .count_text_3 {
    width: 18px;
    height: 16px;
    top: 36px;
    left: 98.5px;
    position: absolute;
    font-family: "Lato-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 10px;
    text-align: center;
    letter-spacing: 0;
    line-height: 12.5px;
  }
  
  .screen .count_text_4 {
    width: 18px;
    height: 16px;
    top: 36px;
    left: 146.5px;
    position: absolute;
    font-family: "Lato-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 10px;
    text-align: center;
    letter-spacing: 0;
    line-height: 12.5px;
  }
  
  .screen .count_text_5 {
    width: 18px;
    height: 16px;
    top: 36px;
    left: 194.5px;
    position: absolute;
    font-family: "Lato-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 10px;
    text-align: center;
    letter-spacing: 0;
    line-height: 12.5px;
  }
  
  .screen .text-wrapper-7 {
    position: absolute;
    width: 75px;
    height: 13px;
    top: 7px;
    left: 102px;
    font-family: "Manrope-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 11px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .screen .music {
    position: absolute;
    width: 74px;
    height: 69px;
    top: 43px;
    left: 150px;
  }
  
  .screen .days-of-week {
    display: flex;
    width: 361px;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 4px;
    position: relative;
    background-color: #ffffff;
  }
  
  .screen .day_group {
    position: relative;
    flex: 1;
    flex-grow: 1;
    height: 24px;
    background-color: #ffffff;
  }
  
  .screen .day_text {
    position: absolute;
    height: 15px;
    top: 3px;
    left: 16px;
    opacity: 0.5;
    font-family: "Lato-Regular", Helvetica;
    font-weight: 400;
    color: var(--black);
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: 15px;
    white-space: nowrap;
  }
  
  .screen .calendar-date {
    position: absolute;
    width: 359px;
    height: 388px;
    top: -148px;
    left: -130px;
  }

  .screen .calendar-week {
    position: absolute;
    width: 361px;
    height: 28px;
    top: 197px;
    left: 6px;
  }
  
  .screen .sun {
    position: absolute;
    /* width: 47px;
    height: 388px; */
    top: 0;
    left: 0;
  }
  
  .screen .second {
    position: absolute;
    width: 49px;
    height: 72px;
    top: 79px;
    left: 0;
  }
  
  .screen .overlap-group-3 {
    position: relative;
    width: 47px;
    height: 72px;
  }
  
  
  .screen .rectangle {
    position: absolute;
    width: 47px;
    height: 72px;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
  }
  
  .screen .text-wrapper-9 {
    position: absolute;
    width: 17px;
    height: 11px;
    top: 3px;
    left: 14px;
    font-family: "Lato-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 10px;
    text-align: center;
    letter-spacing: 0;
    line-height: 12.5px;
    white-space: nowrap;
  }

  .screen .first {
    position: absolute;
    width: 49px;
    height: 72px;
    top: 0;
    left: 0;
  }
  
  .screen .fourth {
    position: absolute;
    width: 49px;
    height: 72px;
    top: 237px;
    left: 0;
  }  
  
  .screen .fifth {
    position: absolute;
    width: 49px;
    height: 72px;
    top: 316px;
    left: 0;
  }
  
  .screen .third {
    position: absolute;
    width: 49px;
    height: 72px;
    top: 158px;
    left: 0;
  }
  
  .screen .mon {
    position: absolute;
    /* width: 47px;
    height: 388px; */
    top: 0;
    left: 52px;
  }
  
  .screen .tue {
    position: absolute;
    /* width: 47px;
    height: 388px; */
    top: 0;
    left: 104px;
  }
  
  .screen .wed {
    position: absolute;
    /* width: 47px;
    height: 388px; */
    top: 0;
    left: 156px;
  }
  
  .screen .thu {
    position: absolute;
    /* width: 47px;
    height: 388px; */
    top: 0;
    left: 208px;
  }
  
  .screen .fri {
    position: absolute;
    /* width: 47px;
    height: 388px; */
    top: 0;
    left: 260px;
  }
  
  .screen .sat {
    position: absolute;
    /* width: 47px;
    height: 388px; */
    top: 0;
    left: 312px;
  }
  
  .screen .tutorial {
    position: absolute;
    width: 72px;
    height: 46px;
    top: 43px;
    left: 283px;
  }
  
  .screen .tutorial_rectangle {
    position: relative;
    width: 70px;
    height: 46px;
    background-color: var(--fuschia-60);
    border-radius: 4px;
  }
  
  .screen .tutorial_text {
    position: absolute;
    width: 58px;
    height: 44px;
    top: 7px;
    left: 9px;
    font-family: "Manrope-Bold", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 13px;
    letter-spacing: 0;
    line-height: normal;
  }

  .screen .dates {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 225px;
    padding: 0 10px;
}

.screen .date-box {
    width: 47px;
    height: 72px;
    background-color: #ffffff;
    border: 1px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Lato-Regular", Helvetica;
    font-size: 10px;
    color: #000000;
    text-align: center;
    border-radius: 4px;
    position: relative;
}

.swal-button {
	background-color: #f2f2f2; 
	font-size: 14px;
  color: #333;
} 

.swal-modal {
  background-color: #FCDDEC !important; /* 원하는 배경색으로 변경 */
}

/* 텍스트 색상이나 크기를 조정하고 싶다면 */
.swal-title {
  color: #333; /* 텍스트 색상 */
  font-size: 20px; /* 제목 글자 크기 */
  
}


  

}


  
